@import url('https://fonts.googleapis.com/css?family=Vollkorn|Open+Sans|Roboto');

body {
    background-color: #FFF9E1;
    padding: 0;
	margin: 0;
	font-family: 'Vollkorn';
	font-size: 20px
	color: #000000;
	line-height: 1.3;
}

h1 {
    color: #000000;
    font-family: 'Roboto';
}

p {
    color: #000000;
    font-family: 'Roboto';
}

ul {
    text-align: center;
    list-style-type: none;
}

h2 {
	font-style: italic;
	font-family: 'Roboto';	
}

header {
	background-image: url(../images/fullmoon.jpg);
	background-size: cover;
	height: 600px;
	width: 100vw;
	color: #FFFFFF;
}

a {
	color: inherit;
	text-decoration: none;
}